<div>

  <% if @friends.empty? %>
    <h3>No one friends yet</h3>
  <% else %>

    <% @friends.each do |friend| %>

      <span>
        
        <p>

          <%= link_to friend.name, friend %>  <%= link_to 'Delete', user_invite_path(current_user, friend), method: :delete, data: {confirm: 'Remove from friends list?'} %>
          
          <%= render partial: 'write_messages/messages', locals: {user: friend} %>

        </p>

      </span>

    <% end %>

  <% end %>

</div>