header {

	background: url('header-2.jpg') 100% no-repeat;
	background-size: 100% 105px;
	width: 100%;
  position: fixed;top:0;
}

div.container{
	width: 50%;
	margin:0 auto;
}

div.logo {
	float:left;
}

.nav1{
	float: right;
}


div.d {
	margin-top: 90px;
}

li {
  list-style: none;
}

li.li2 {
	color: #00008B;
  float: left;
	margin-left: 10px;
  padding-top: 17%;
}

div#user_menu {
	display: none;
	position: absolute;
	width: 120px;
	height: 100px;
	background: #ECECEC;
	border: 1px solid #a5a5a5;
	border-radius:3px;
}

div#d_sign_in {
	display: none;
	position: absolute;
	width: 340px;
	height: 170px;
	background: #ECECEC;
	border: 1px solid #a5a5a5;
	border-radius: 3px;
	right: 17%;
	

}

div.d_cont {
	color: #000;
	background: #dadde1;
	padding: 5px;
	padding-top: 10px;
}

div.form_label {
	text-align: right;
}

div.user_menu_link {
	padding-top: 5px;
	padding-left: 5px;
}