<h1>Your information</h1>

<div class = "profile">
	
  <ul>
  	<li>Gender: <%= @profile.gender %></li>
  	<li>Birthday: <%= @profile.birthday %></li>
  	<li>About: <%= @profile.about %></li>
  </ul>

</div>
