<% if current_user %>	
	<% unless current_user == @user %>

  	<% if check_on_friend?(params[:id]) %>

    	<h4><%= @user.name %> is your friend</h4>
    	<span><%= link_to("Write messages", root_path) %></span>

  	<% else %>

    	<%= link_to 'Add to friend', new_user_friendship_path(@user) %>
    
  	<% end %>

	<% end %>  
<% end %>	
