<h1>Mains</h1>

<% if @users.empty? %>
  
  <% if current_user %>
    <h3>You are first, how sign up here</h3>
  <% else %>  
    <h3>No one user find. You may be first</h3>
  <% end %>

<% else %>
  <% @users.each do |user| %>

    <ul>
  	  <div>

     	  <li class = "users_list"><%= image_tag(user.profile.avatar.middle, {class: 'middle_avatar'}) %><br/><span style = "margin-left: 20%;"><%= link_to user.name, user_path(user)%></span></li>
  	  </div>
    </ul>

  <% end %>	
<% end %>
