<h1><%= @user.name %></h1>

  <% if @user != current_user %>
    <%= link_to 'Add to friend', new_user_friendship_path(current_user, @user) %>
  <% end %>  

  <% if can? :update, @user.profile %>
  	<br/><%= link_to "Edit", edit_user_profile_path(@user, @user.profile) %>
  <% end %>	

  <div>
    <%= render 'comments' %>
  </div>
