<h1><%= @user.name %></h1>

  <%= render 'friendships' %>

  <% if can? :update, @user.profile %>
  	<br/><%= link_to "Edit", edit_user_profile_path(@user, @user.profile) %>
  <% end %>	

  <div>
    <%= render 'comments' %>
  </div>
